@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'apercu-regular';
  src: url('/fonts/apercu-regular.ttf');
}

@layer base {
  :root {
    font-size: 18px;
    font-family: apercu-regular, sans-serif;
    --primary-gradient: linear-gradient(to right, #222f3d 40%, #314458);
    @apply text-white;
  }

  html,
  body {
    @apply h-full w-full relative;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply leading-relaxed;
  }

  li {
    @apply list-none;
  }
}

div#__next {
  height: 100%;
  width: 100%;
}
